<form action="{% url 'polls:vote' question.id %}" method="post">
{% comment %}
    Cross Site Request Forgery를 방어하기 위해 django가 제공하는 token.
    Post Form 사이에 작성한다.
{% endcomment %}
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>